* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  width: 100%;
  height: 100%;
  background-color: crimson;
}

.grid {
  display: grid;
  grid-template-columns: 18vw auto;
}

.navs {
  border: 2px solid beige;
  background: #fff;
  color: #000;
  height: 100vh;
}

.navs .logo {
  border-bottom: 2px solid black;
}

.navs .logo img {
  width: 120px;
  margin: 6% 25% 0px 10%;
}

.links {
  margin: 30px;
  margin-left: 10%;
}

.links a {
  font-size: 20px;
  font-weight:500;
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 12px;
  padding: 5px 0;
}